.grid-header{
    display: flex;
    flex-direction: column;
}

.grid-header h2{
    margin-bottom: 0px;
}

.grid-header p{
    font-size: 12px;
    color: #576b56;
}

.project-description{
    display: flex;
    flex-direction: column;
}

.project-description p{
    text-align: left;
    font-size: 14px;
    color: #576b56;
}